body {
  background-color: ghostwhite;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

.fixed {
	position: fixed;
}

.navigation {
  border: 1px solid #DDD;
  padding: 40px 0px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.navigation a {
  background: darkcyan;
  border: 1px solid darkcyan;
  border-radius: 3px;
  color: #FFF;
  display: inline-block;
  margin: auto;
  padding: 25px;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation a:hover {
  background: #FFF;
  border: 1px solid darkcyan;
  color: darkcyan;
  animation: ease;
}

a {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 100;
  letter-spacing: 2px;
  padding: 20px 0px;
  text-transform: uppercase;
  margin-right: 20px;
  margin-left: 20px;
  display: inline-block;
}

.whitebold {
	font-weight: bold;
}

