  body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 250px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1920px;
	 height: 1080px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Rectangle1 
{ 
	 left: 417px; 
	 top: 71px; 
	 position: absolute; 
	 width: 562px;
	 height: 842px;
	 z-index:1;
} 

 #ANewDawn 
{ 
	 left: 596px; 
	 top: 84px; 
	 position: absolute; 
	 width: 202px;
	 height: 33px;
	 z-index:2;
} 

 #layer_749 
{ 
	 left: 660px; 
	 top: 128px; 
	 position: absolute; 
	 width: 78px;
	 height: 24px;
	 z-index:3;
} 

 #Layer7 
{ 
	 left: 451px; 
	 top: 152px; 
	 position: absolute; 
	 width: 495px;
	 height: 752px;
	 z-index:4;
} 

body {
    margin: 0;
    padding: 0;
 }
 
 #background 
{ 
     left: 250px; 
     top: 0px; 
     position: relative; 
     margin-left: auto; 
     margin-right: auto; 
     width: 1920px;
     height: 1080px; 
     overflow: hidden;
     z-index:0;
    } 

 #Rectangle2 
{ 
     left: 417px; 
     top: 71px; 
     position: absolute; 
     width: 562px;
     height: 842px;
     z-index:1;
} 

 #Aftermath 
{ 
     left: 612px; 
     top: 84px; 
     position: absolute; 
     width: 170px;
     height: 33px;
     z-index:2;
} 

 #layer_623 
{ 
     left: 660px; 
     top: 128px; 
     position: absolute; 
     width: 78px;
     height: 24px;
     z-index:3;
} 

 #Layer11 
{ 
     left: 451px; 
     top: 152px; 
     position: absolute; 
     width: 495px;
     height: 753px;
     z-index:4;
} 

 body {
    margin: 0;
    padding: 0;
 }
 
 #background 
{ 
     left: 250px; 
     top: 0px; 
     position: relative; 
     margin-left: auto; 
     margin-right: auto; 
     width: 1920px;
     height: 1080px; 
     overflow: hidden;
     z-index:0;
    } 

 #Rectangle1 
{ 
     left: 417px; 
     top: 71px; 
     position: absolute; 
     width: 562px;
     height: 842px;
     z-index:1;
} 

 #AftermathLifeDebt 
{ 
     left: 531px; 
     top: 84px; 
     position: absolute; 
     width: 333px;
     height: 33px;
     z-index:2;
} 

 #layer_1725 
{ 
     left: 653px; 
     top: 128px; 
     position: absolute; 
     width: 91px;
     height: 24px;
     z-index:3;
} 

 #Layer12 
{ 
     left: 451px; 
     top: 152px; 
     position: absolute; 
     width: 494px;
     height: 750px;
     z-index:4;
} 

 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 250px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1920px;
	 height: 1080px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Rectangle1 
{ 
	 left: 417px; 
	 top: 71px; 
	 position: absolute; 
	 width: 562px;
	 height: 842px;
	 z-index:1;
} 

 #AftermathEmpiresEnd 
{ 
	 left: 498px; 
	 top: 84px; 
	 position: absolute; 
	 width: 399px;
	 height: 37px;
	 z-index:2;
} 

 #layer_1739 
{ 
	 left: 653px; 
	 top: 128px; 
	 position: absolute; 
	 width: 91px;
	 height: 24px;
	 z-index:3;
} 

 #Layer13 
{ 
	 left: 451px; 
	 top: 152px; 
	 position: absolute; 
	 width: 494px;
	 height: 753px;
	 z-index:4;
} 

 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 250px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1920px;
	 height: 1080px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Rectangle1 
{ 
	 left: 417px; 
	 top: 71px; 
	 position: absolute; 
	 width: 562px;
	 height: 842px;
	 z-index:1;
} 

 #Ahsoka 
{ 
	 left: 635px; 
	 top: 84px; 
	 position: absolute; 
	 width: 124px;
	 height: 33px;
	 z-index:2;
} 

 #Layer5 
{ 
	 left: 454px; 
	 top: 154px; 
	 position: absolute; 
	 width: 488px;
	 height: 748px;
	 z-index:3;
} 

 #layer_891 
{ 
	 left: 660px; 
	 top: 128px; 
	 position: absolute; 
	 width: 78px;
	 height: 24px;
	 z-index:4;
} 

 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 250px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1920px;
	 height: 1080px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Rectangle1 
{ 
	 left: 417px; 
	 top: 71px; 
	 position: absolute; 
	 width: 562px;
	 height: 842px;
	 z-index:1;
} 

 #BattlefrontTwilightC 
{ 
	 left: 446px; 
	 top: 84px; 
	 position: absolute; 
	 width: 505px;
	 height: 38px;
	 z-index:2;
} 

 #layer_899 
{ 
	 left: 660px; 
	 top: 128px; 
	 position: absolute; 
	 width: 78px;
	 height: 24px;
	 z-index:3;
} 

 #Layer10 
{ 
	 left: 451px; 
	 top: 152px; 
	 position: absolute; 
	 width: 493px;
	 height: 751px;
	 z-index:4;
} 

 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 250px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1920px;
	 height: 1080px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Rectangle1 
{ 
	 left: 417px; 
	 top: 71px; 
	 position: absolute; 
	 width: 562px;
	 height: 842px;
	 z-index:1;
} 

 #Bloodline 
{ 
	 left: 617px; 
	 top: 84px; 
	 position: absolute; 
	 width: 163px;
	 height: 33px;
	 z-index:2;
} 

 #layer_773 
{ 
	 left: 660px; 
	 top: 128px; 
	 position: absolute; 
	 width: 78px;
	 height: 24px;
	 z-index:3;
} 

 #Layer14 
{ 
	 left: 451px; 
	 top: 152px; 
	 position: absolute; 
	 width: 495px;
	 height: 753px;
	 z-index:4;
} 

 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 250px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1920px;
	 height: 1080px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Rectangle1 
{ 
	 left: 417px; 
	 top: 71px; 
	 position: absolute; 
	 width: 562px;
	 height: 842px;
	 z-index:1;
} 

 #DarkDisciple 
{ 
	 left: 586px; 
	 top: 84px; 
	 position: absolute; 
	 width: 225px;
	 height: 37px;
	 z-index:2;
} 

 #Layer1 
{ 
	 left: 457px; 
	 top: 156px; 
	 position: absolute; 
	 width: 485px;
	 height: 737px;
	 z-index:3;
} 

 #layer_788 
{ 
	 left: 660px; 
	 top: 128px; 
	 position: absolute; 
	 width: 78px;
	 height: 24px;
	 z-index:4;
} 

 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 250px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1920px;
	 height: 1080px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Rectangle1 
{ 
	 left: 417px; 
	 top: 71px; 
	 position: absolute; 
	 width: 562px;
	 height: 842px;
	 z-index:1;
} 

 #HeirtotheJedi 
{ 
	 left: 574px; 
	 top: 84px; 
	 position: absolute; 
	 width: 248px;
	 height: 33px;
	 z-index:2;
} 

 #layer_729 
{ 
	 left: 660px; 
	 top: 128px; 
	 position: absolute; 
	 width: 78px;
	 height: 24px;
	 z-index:3;
} 

 #Layer9 
{ 
	 left: 451px; 
	 top: 152px; 
	 position: absolute; 
	 width: 492px;
	 height: 750px;
	 z-index:4;
} 

 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 250px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1920px;
	 height: 1080px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Rectangle1 
{ 
	 left: 417px; 
	 top: 71px; 
	 position: absolute; 
	 width: 562px;
	 height: 842px;
	 z-index:1;
} 

 #LordsoftheSith 
{ 
	 left: 563px; 
	 top: 84px; 
	 position: absolute; 
	 width: 270px;
	 height: 33px;
	 z-index:2;
} 

 #layer_999 
{ 
	 left: 660px; 
	 top: 128px; 
	 position: absolute; 
	 width: 78px;
	 height: 24px;
	 z-index:3;
} 

 #Layer4 
{ 
	 left: 454px; 
	 top: 154px; 
	 position: absolute; 
	 width: 488px;
	 height: 742px;
	 z-index:4;
} 

 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 250px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1920px;
	 height: 1080px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Rectangle1 
{ 
	 left: 417px; 
	 top: 71px; 
	 position: absolute; 
	 width: 562px;
	 height: 842px;
	 z-index:1;
} 

 #LostStars 
{ 
	 left: 616px; 
	 top: 84px; 
	 position: absolute; 
	 width: 165px;
	 height: 33px;
	 z-index:2;
} 

 #layer_1058 
{ 
	 left: 653px; 
	 top: 128px; 
	 position: absolute; 
	 width: 91px;
	 height: 24px;
	 z-index:3;
} 

 #Layer8 
{ 
	 left: 451px; 
	 top: 152px; 
	 position: absolute; 
	 width: 498px;
	 height: 752px;
	 z-index:4;
} 

 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 250px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1920px;
	 height: 1080px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Rectangle1 
{ 
	 left: 417px; 
	 top: 71px; 
	 position: absolute; 
	 width: 562px;
	 height: 842px;
	 z-index:1;
} 

 #RogueOneCatalyst 
{ 
	 left: 534px; 
	 top: 84px; 
	 position: absolute; 
	 width: 329px;
	 height: 38px;
	 z-index:2;
} 

 #layer_1725 
{ 
	 left: 653px; 
	 top: 128px; 
	 position: absolute; 
	 width: 91px;
	 height: 24px;
	 z-index:3;
} 

 #Layer2 
{ 
	 left: 455px; 
	 top: 156px; 
	 position: absolute; 
	 width: 488px;
	 height: 740px;
	 z-index:4;
} 

 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 250px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1920px;
	 height: 1080px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Rectangle1 
{ 
	 left: 417px; 
	 top: 71px; 
	 position: absolute; 
	 width: 562px;
	 height: 842px;
	 z-index:1;
} 

 #Tarkin 
{ 
	 left: 645px; 
	 top: 84px; 
	 position: absolute; 
	 width: 105px;
	 height: 33px;
	 z-index:2;
} 

 #Layer6 
{ 
	 left: 451px; 
	 top: 154px; 
	 position: absolute; 
	 width: 494px;
	 height: 750px;
	 z-index:3;
} 

 #layer_748 
{ 
	 left: 660px; 
	 top: 128px; 
	 position: absolute; 
	 width: 78px;
	 height: 24px;
	 z-index:4;
} 

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

